<template>

    <v-container>

        <v-dialog v-model="isAddMatDialogOpen">
            <v-card class="mx-auto pa-4" width="800">
                <v-card-title>
                    <p>Add Material</p>
                </v-card-title>
                <v-card-text>
                    <v-row align="center">
                        <v-col>
                            <p>Material</p>
                        </v-col>
                        <v-col>
                            <v-text-field label="Material" outlined dense />
                        </v-col>
                    </v-row>
                    <p class="py-4">Product Code : </p>
                    <p class="py-4">Description : </p>
                </v-card-text>
                <div class="mt-8 d-flex flex-row justify-center">
                    <v-btn color="primary" class="mr-4" elevation="0">Add</v-btn>
                    <v-btn color="primary" elevation="0" @click="() => { setAddDialogStatus(false) }">Cancel</v-btn>
                </div>
            </v-card>

        </v-dialog>
        
        <v-dialog v-model="isSummaryDialogOpen" max-width="800">
            <v-card>
                <v-card-text>
                    <summary-preview />
                </v-card-text>
            </v-card>
        </v-dialog>

        <div class="d-flex">
            <v-text-field class="text-field-search" label="Search" outlined dense />
            <v-btn class="ml-4" size="x-large" elevation="0" @click="() => { }">Search</v-btn>
        </div>

        <div class="d-flex flex-row justify-end mb-4">
            <v-btn size="x-large" elevation="0" @click="setAddDialogStatus(true)">Add Material</v-btn>
        </div>
        
        <v-row>
            <v-col>
                <v-table>
                    <thead>
                        <tr>
                            <th class="text-center" v-for="item in tableHead">{{ item }}</th>
                        </tr>
                    </thead>

                    <tbody>
               
                        <tr v-for="(item, rowIndex) in items" :key="rowIndex">
                            <td class="text-center">{{ item.Material }}</td>
                            <td class="text-center" v-for="(field, fieldIndex) in item.fields" :key="fieldIndex">
                                <v-text-field class="text-center-input" v-model="field.value"
                                    :tabindex="1 + rowIndex + fieldIndex * items.length" />
                            </td>
                            <td class="text-center">{{ item.Sum }}</td>
                           
                        </tr>
                    </tbody>
                </v-table>
            </v-col>
        </v-row>


        <div class="d-flex flex-row justify-end mt-4">
            <v-btn elevation="0" size="x-large" @click="setSummaryDialogStatus(true)">Save</v-btn>
        </div>



    </v-container>

</template>

<script lang="ts">

import { defineComponent, onMounted, reactive, ref } from 'vue';
import { Material } from '../types/material';
import { StockRepository } from '../repository/stock_repository';



export default defineComponent({


    setup() {

        const isAddMatDialogOpen = ref(false)

        const isSummaryDialogOpen = ref(false)

        const tableHead = ref<string[]>([])

        const items = ref<any[]>([])

        const setAddDialogStatus = (status: boolean) => {
            isAddMatDialogOpen.value = status
        }
        const setSummaryDialogStatus = (status: boolean) => {
            isSummaryDialogOpen.value = status
        }

        const getTableHead = (products: Material[]): string[] => {
            let locationTableHeads: string[] = []
            products.forEach((product) => {
                if (locationTableHeads.indexOf(product.location) === -1) {
                    locationTableHeads.push(product.location)
                }
            })
            locationTableHeads.sort((a, b) => a.localeCompare(b))
            locationTableHeads.unshift("Material")
            locationTableHeads.push("Sum")

            return locationTableHeads
        }

        onMounted(async () => {
            const stockRepository = new StockRepository()
            const materials = await stockRepository.getMaterialStocks()
            tableHead.value = getTableHead(materials)

            const res = stockRepository.getAggregateStockData()

            console.log(res)
            items.value = res

        })

        return {
            tableHead, items, isAddMatDialogOpen, setAddDialogStatus, isSummaryDialogOpen, setSummaryDialogStatus
        }
    }
})

</script>
<style>
.text-center-input input {
    text-align: center;
}

.text-field-search {
    width: 100px;
}
</style>