<template>
    <v-container>
        <div class="text-right">
            <h2>Count on 1-1-2025</h2>
            <h2>Location : A1</h2>
        </div>
        <v-container>
            <v-table>
                <thead>
                    <tr>
                        <th class="text-center">MAT</th>
                        <th class="text-center">PRODUCT CODE</th>
                        <th class="text-center">QUANTITY</th>
                        <th class="text-center">Remarks</th>
                    </tr>
                </thead>
            </v-table>
        </v-container>
    </v-container>
</template>
<script lang="ts">

import { defineComponent, ref } from 'vue';

defineComponent({
    setup() {

    }
})
</script>